In [8]:
x='gulam'
for i in x:
    print(i)

g
u
l
a
m

In [2]:
fruits= {'apple','banana','mango','grapes'}
for items in fruits:
    print(items)

banana
mango
grapes
apple

In [9]:
for i in range (0,10,2):
    print('hafsah',i)

hafsah 0
hafsah 2
hafsah 4
hafsah 6
hafsah 8

In [13]:
for i in range(1,10):
    print('hafsah',i)

hafsah 1
hafsah 2
hafsah 3
hafsah 4
hafsah 5
hafsah 6
hafsah 7
hafsah 8
hafsah 9

In [16]:
for i in range (10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [17]:
for i in range (5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [18]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [2]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in range (1,25):
    print(i*2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [18]:
for i in range (1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [31]:
for i in range(23,231,23):

    print(i)

23
46
69
92
115
138
161
184
207
230

In [7]:
num = int(input("Enter a number"))
fact = 1
a = 1
while a <=num:
    fact=fact*a
    a=a+1
print("The factorial no of ", num,"is",fact)

The factorial no of  4 is 24

In [2]:
num = int(input("inter a number "))

count = 0 
while (num>0):
    num = num//10
    count = count + 1
print ("total count = ", count)

total count =  3

In [ ]:
num= 2345
renum = 0

while(num>0):
    lastdigit= num%10
    renum= renum+lastdigit
    num= num/10
    
    print(renum)

In [6]:
num = int(input("enter a number"))
rev_num= 0
while num != 0:
    digit = num % 10
    rev_num = rev_num * 10+digit
    num //= 10
print(rev_num)

321

In [15]:
num = int(input("inter a number"))
rev_num = 0
while num != 0:
    digit = num % 30
    rev_num = rev_num*30+digit
    num//= 30
print(rev_num)

94

In [22]:
num = int(input("inter a number"))
rev_num = 0 
while num != 0:
    digit = num % 10
    rev_num = rev_num*10+digit
    num//=10
print (rev_num)

321