In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [6]:
for z in fruits:
    print(z, end='ðŸ¤—')

orangeðŸ¤—appleðŸ¤—pearðŸ¤—bananaðŸ¤—kiwiðŸ¤—appleðŸ¤—

In [7]:
name = "chandrashekhar"
for g in name:
    print(g, end="")

chandrashekhar

In [9]:
name = 'gulam'
for g in range(5):
    print(name)

gulam
gulam
gulam
gulam
gulam

In [10]:
a = 10
b = 5
sum = a+b
print("sum :",sum)
print("sum of", a, "and",b, "is", sum)
print(f"sum of {a} and {b} is {sum}")

sum : 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [17]:

#Table of 15
for i in range (1,11):
    print(f"15*{i}= {15*i}")

15*1= 15
15*2= 30
15*3= 45
15*4= 60
15*5= 75
15*6= 90
15*7= 105
15*8= 120
15*9= 135
15*10= 150

In [1]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(2,101,2):
    sum= i+

TypeError: unsupported operand type(s) for +: 'int' and 'builtin_function_or_method'

In [4]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
#sum of intigers 1 to 100 use for loop
sum = 0
for i in range (1,101):
    sum = sum+i
print("sum of integers from 1 to 100 is",sum)

sum of integers from 1 to 100 is 5050

In [4]:
#sum of integers 1 to 100 use while loop
num= 1
sum = 0
while num <=100:
    sum= sum+num
    num=num+1
print("sum of integers from 1 to 100 is ",sum)

sum of integers from 1 to 100 is  5050

In [7]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
sum = 0
for i in range (1,21):
    if i%2 == 0:
        print(i)
        sum = sum+1
print("sum of even numbers from 1 to 20 is",sum)

2
4
6
8
10
12
14
16
18
20
sum of even numbers from 1 to 20 is 10

BREAK AND CONTINUE

In [5]:
fruits = ['orange', 'apple', 'pear', 'banana', 'tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
        break
    print(fruit)

orange
apple
pear
banana

In [6]:
fruits = ['orange', 'apple', 'pear', 'banana', 'tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
      continue
    print(fruit)

orange
apple
pear
banana
kiwi
apple
banana

In [17]:
name = ["g","u","l","a","m"]
for i in name:
    if name == "a":
        break
    print(i)

g
u
l
a
m

In [18]:
items = ['pen', 'pencil', 'eraser','sharpner', 'scale', 'book', 'bag', 'bottle', 'lunchbox', 'tifin']
for i, v in enumerate(items):
    if i == 8:
        break
    print(f'{i}.{v}')

0.pen
1.pencil
2.eraser
3.sharpner
4.scale
5.book
6.bag
7.bottle