SIMPLE FUNCTION

In [13]:
def showdata():
    print ("first time "  "Welcome in Lucknow")
    
showdata()
showdata()
showdata()

first time Welcome in Lucknow
first time Welcome in Lucknow
first time Welcome in Lucknow

USER DEFINE FUNCTION

In [18]:
def name(x,y):
    print(x+y)
    
name(600,500)
name(65,70)

1100
135

In [22]:
def sub(a,b):
    print(a-b)

sub(200,40)
sub(9000,4000)
sub(42823,28000)

160
5000
14823

In [25]:
def mul(a,b):
    print(a*b)

mul(10,3) 
mul(50,10)
mul(500,1000)

30
500
500000

In [28]:
def div (a,b):
    print(a/b)
    
div(20,3)
div(500,50)

6.666666666666667
10.0

FUNCTION ARGUEMENTS

In [5]:
def sum(a,b):
    print(a+b)
    
sum(14000,14000)
sum(75,57)

28000
132

DEFAULT PARAMETER VALUE

In [7]:
def sum(a,b=1):
    print(a+b)

sum(20)
sum(20,80)

21
100

RETURN VALUES

In [18]:
def sqaure(a):
    return a*a, a*2
a = sqaure(10)
print(a)

(100, 20)