- how to declare dictionary in different ways
- how to access key and values of dictionary
- how to use loops in dictionary
- nested dictionary

In [12]:
student = {
    "name": "john",
    "class": "12th",
    "roll no": 2,
    "age": 17 
        }
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17}

In [60]:
temp = {
    "lucknow": [25,30,35],
    "delhi": [30,35,40],
    "chennai": [24,23,22],

}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [14]:
info = dict(name= 'john', age= 17, roll_no = 2, class_ = '12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [15]:
info2 = dict(name= input("Enter your name:"),
             age = int(input("Enter your age:")),
             roll_no= int(input("Enter your roll_no:")),
             class_ = input("Enter you class:")
             ),
print(info2)

({'name': 'gulam', 'age': 17, 'roll_no': 123, 'class_': '12'},)

In [16]:
#list method to access the value of a key
print(student['name'])
print(temp['lucknow'])

john
[25, 30, 35]

In [17]:
#to add items in a dictionary
student['city']= 'lucknow'
student['school']= 'DPS'
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17, 'city': 'lucknow', 'school': 'DPS'}

In [18]:
# to remove items from a dictionary
student.pop ('school')
print(student)

{'name': 'john', 'class': '12th', 'roll no': 2, 'age': 17, 'city': 'lucknow'}

In [20]:
# using del method
del student ['roll no']
print(student)

{'name': 'john', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [21]:
for k in info:
    print(k)

name
age
roll_no
class_

In [30]:
for k,v in info2.items():
    print(f"{k}:{v}")

AttributeError: 'tuple' object has no attribute 'items'

In [27]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [48]:
company = {
    'empoo1': {'name':'john', 'age':25, 'dept': 'hr', 'salary': 25000},
    'emp002': {'name': 'emma', 'age':30, 'dept':'Finance', 'salary':30000},
    'emp003': {'name': 'linda', 'age':35, 'dept':'IT', 'salary':35000},
    'emp004': {'name': 'David', 'age':40, 'dept':'Admin', 'salary':40000},
    'emp005': {'name': 'gulam', 'age':18, 'dept': 'supervisor', 'salary':50000 }
  
    }
print(company)

{'empoo1': {'name': 'john', 'age': 25, 'dept': 'hr', 'salary': 25000}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}, 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000}, 'emp004': {'name': 'David', 'age': 40, 'dept': 'Admin', 'salary': 40000}, 'emp005': {'name': 'gulam', 'age': 18, 'dept': 'supervisor', 'salary': 50000}}

In [49]:
from pprint import pp

In [47]:
pp (company)

{'empoo1': {'name': 'john', 'age': 25, 'dept': 'hr', 'salary': 25000},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000},
 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp004': {'name': 'David', 'age': 40, 'dept': 'Admin', 'salary': 40000}}

In [40]:
print(company['emp002'])

{'name': 'emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}

In [43]:
print(company['epm004']['age'])

40

In [50]:
print(company['emp005'])

{'name': 'gulam', 'age': 18, 'dept': 'supervisor', 'salary': 50000}

In [51]:
print(company['emp005']['salary'])

50000

In [54]:
#indexing in dictionary
print(temp['lucknow'][0])
print(temp['delhi'][2])

25
22

In [61]:
print("average temprature of delhi is", sum(temp['delhi'])/len(temp['delhi']))

average temprature of delhi is 35.0