In [4]:
name = input("name:")
age = input("age:")
class1 = input("class1:")
print("My name is :", name, "and i old:",age , "my class is :",class1)

My name is : gulam  and i old: 28 my class is : intermediate

In [28]:
light = input("light color :")
if(light == "red"):
    print("stop")
elif (light == "yellow"):
    print("look")
elif (light == "green"):
    print("go")
else:
    print("light is broken")

stop

In [22]:
marks = float(input(" Enter the marks :"))
if marks >= 90:
    print("A+")
elif marks >= 80 :
    print("A")
elif marks >= 70 :
    print("B")
elif marks >= 60 :
    print("C")
else:
    print("Student is fail")

A

In [26]:
#Single line F/ ternary Operator
food = input("Food:")
eat = "yes" if food == "apple" else "no"
print(eat)

no

In [27]:
#Arithmetic Operator
a = 10
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a/b)
print(a**b)
print(a%b)
print(a//b)

15
5
50
2.0
100000
0
2

In [28]:
#Relational Operator
a = 50
b = 20

print (a==b) #False
print(a!=b) #true
print(a>=b) #true
print(a>b) #true
print(a<=b) #false
print(a<b) #false

False
True
True
True
False
False

In [39]:
#Assignment Operator
num = 10
num**=10 #u can write anyone at place of like(-=,*=,/=,//=,%=)
print(num)

10000000000

In [43]:
#Logical operator
a = 50
b = 30
print(not(a>b))

val1= True
val2= False
print("AND operator:", val1 and val2)
print("OR operator:" , val1 or val2)

False
AND operator: False
OR operator: True

In [50]:
#Type Conversion (change into str-float,int)
a = float("5")
b = 3.25

print(a+b)
print(type(a))

8.25
<class 'float'>

In [60]:
first = int(input("Enter first:"))
second = int(input("Enter second:"))
third = int(input("Enter third"))

print("sum :", first+second+third)

sum : 43000